<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SignupPage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  </head>
  <body>
   

    <div class="container">
        <!-- Content here -->
        <h1>Signup page</h1>

<!-- Form start  -->
<form class="w-25 align-content-center" method="post">
  {% csrf_token %}
  <div class="form-group my-3">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
  </div>

  <div class="form-group my-3">
    <label for="Email1">Email address</label>
    <input type="email" class="form-control" id="Email1" placeholder="Enter email" name="email">
  </div>

  <div class="form-group my-3">
    <label for="phone">Phone Number</label>
    <input type="text" class="form-control" id="phone" placeholder="Enter phone" name="phone">
  </div>
  
  <div class="form-group my-3">
    <label for="Password1">Password</label>
    <input type="password" class="form-control" id="Password1" placeholder="Password" name="pass">
  </div>

  <button type="submit" class="btn btn-primary my-2">Submit</button>
  <a href="{% url 'signin' %}"><P>Already have account</P></a>
</form>
<!-- form end  -->

      </div>
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  </body>
</html>
